{% extends "layout.html.twig" %}

{% block title %}
    Index
{% endblock %}

{% block content %}

    <div class="container">
        <p>Je suis la page "index"</p>
    </div>

{% endblock %}